@use "../../SCSS/mixins" as *;
@use '../../SCSS/variables' as *;

.desktopNav {
   display: none;
   @include tablet-up {
      display: block;
      position: absolute;
      top: 82rem;
      right: 3rem;
      max-width: 65rem;
      z-index: 999;
      background-color: transparent;
      ul {
         @include tablet-up {
            display: flex;
            justify-content: space-between;
            font-weight: $font-weight-500;
            text-transform: capitalize;
            font-size: 1.8rem;
         }

         li {
            position: relative;
            list-style: none;
            margin-left: 1.5rem;
            cursor: pointer;
            &:after {
               content: "";
               position: absolute;
               width: 110%;
               color: #e9c300;
               border-bottom: 2px solid;
               top: 11.5px;
               right: -3px;
               transform: scaleX(0);
               transition: transform 250ms ease-in-out;
               transform-origin: 0% 50%;
            }
            &:hover,
            :focus,
            :active {
               &:after {
                  transform: scaleX(1);
               }
            }
         }
      }
   }
}
