@use "../../SCSS/mixins" as *;
@use '../../SCSS/variables' as *;

.nav {
   display: none;
   @include tablet-up {
      display: block;
      position: absolute;
      top: 78rem;
      right: 3rem;
      max-width: 65rem;
      z-index: 999;
      background-color: transparent;
      ul {
         @include tablet-up {
            display: flex;
            justify-content: space-between;
            font-weight: $font-weight-500;
            text-transform: capitalize;
         }

         li {
            position: relative;
            list-style: none;
            margin-left: 1.5rem;
            &:after {
               content: "";
               position: absolute;
               width: 4rem;
               color: $color-mustard;
               border-bottom: 6px solid;
               top: -10px;
               left: 0;
               transform: scaleX(0);
               transition: transform 250ms ease-in-out;
               transform-origin: 0% 50%;
            }
            &:hover,
            :focus,
            :active {
               &:after {
                  transform: scaleX(1);
               }
            }
         }
      }
   }
}
